
{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
<link href="{% static 'bootstrap-4.5.0-dist/css/bootstrap.min.css' %} "
 rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    .navbar {
      padding: 0px 8px;
    }

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;900&family=Raleway:wght@500&display=swap');
    #heading {
      font-size: 20px;
      margin: 0px;
      padding: 0px;
      margin-top: 2px;
    }

    #image {
      margin: 0px;
      padding: 0px;
    }

    .ht {
      height: 500px;
    }

    .mkl {
      list-style: none;
      
    }
    .mkl1{
      list-style: none;
      padding:0px;
    }

    .bg {
      background-color: rgb(0, 45, 66);
        }

    .fs {
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(175, 175, 175);
    }

    #colbt {
      background-color: rgb(206, 206, 206);

      color: black;
      border-radius: 25px;
    }

    #colbt:hover {
      background-color: rgb(0, 143, 156);
    }
    .frame{
       border:4px solid rgb(74,26,52);
          border-radius:200px;
    }
    .card{
      border:2px solid black;
      border-radius:25px;
      box-shadow:2px 2px 8px black;
      background-color:#fffee6;
    }
    
   .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
    .container2 {
  position: relative;
  text-align: center;
  color: white;
  border-bottom:2px solid #ff8943;
  box-shadow:2px 2px 8px rgb(40,40,40);
}
   
    .textheadbody{
      font-size:60px;
      font-family: sans-serif;;
      text-weight:900;
      color:#FF282B;
    }
     .textheadbody2{
       
      font-size:12px;
      font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
      color:rgb(235,235,235);
    }
    .custom{
      background-color:rgb(10,10,10);
      border:2px solid #FF282B;
      border-radius:20px;
      color:rgb(210,210,210);
      font-size:16px;
      width:140px;
      padding:5px;
    
    }
    .custom:hover{
      background-color:rgb(25,25,25);
      color:white;
      box-shadow:2px 2px 4px rgb(25,25,25);

    }
   
  </style>
  <title>Hello, world!</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <div>
      <img src="{% static 'img/Mnit_logo.png' %} " height="50px" width="50px" class="mr-auto" id="iamge">
      <img src="{% static 'img/EC Logo.png' %} " height="52px" width="52px" class="mr-auto ml-1" id="iamge">
    </div>

    <div class="mr-auto ml-2 text-white">
      <p id="heading" class="mt-2">Energy Club</p>
      <p>Centre For Energy and Environment</p>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active pr-1">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item px-2">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/achievements">Achievements</a>
        </li>



        <li class="nav-item px-2">
          <a class="nav-link" href="/alumni">Alumni Tree</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/team">Team</a>
        </li>

      </ul>

    </div>
  </nav>
  <div class="container2 ">
 <img src="{% static 'img/25.jpg' %}" class="w-100 "height="360px" style="position:relative;" >
 
  
    <div class="centered ">
       
        <h1 class="textheadbody">WE CONNECT</h1>
        <p class=" textheadbody2">We are connecting the alumni of our club.BUIlding our Community REaching more people. </p>
        <button class="  custom">Follow US</button>
        <button class=" custom">Build US</button>
    </div>
    </div>


    
 <div class="row text-center p-4 mx-auto ">
<div class="col-lg-3 col-sm-5  my-2 mx-1 mx-auto card ">
 <img class="mx-auto my-3 img-fluid frame" src="{% static 'img/vivek.jpg' %}" height="200px" width="200px" alt="" >
 <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam, tempore, esse fugiat
                vo
                Recusandae, provident tempora? Quidem magni, facere porro quia ea facilis exercitationem accusamus.""</p>
    
     <div class="row pb-2">
      <ul class="row mx-auto mkl1 text-center">
        <li class="p-2"><a href="https://www.facebook.com/search/top/?q=Energy%20Club%20-%20MNIT%20Jaipur"><img
              src="{% static 'img/facebook.png' %}" height="40px" width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://www.instagram.com/the_energy_club/"><img src="{% static 'img/instagram.png' %}" height="40px"
              width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://in.linkedin.com/company/energy-club-mnit-jaipur"><img src="{% static 'img/linkedin.png' %}"
              height="40px" width="40px" alt=""></a></li>
        <li class="p-2 "><a href="mailto:energyclub@mnit.ac.in"><img src="{% static 'img/gmail.png' %}" height="40px" width="40px"
              alt=""></a></li>
      </ul>
    </div>
 </div>
<div class="col-lg-3 col-sm-5  my-2 mx-1 mx-auto card ">
 <img class="mx-auto my-3 img-fluid frame" src="{% static 'img/vivek.jpg' %}" height="200px" width="200px" alt="" >
 <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam, tempore, esse fugiat
                vo
                Recusandae, provident tempora? Quidem magni, facere porro quia ea facilis exercitationem accusamus.""</p>
    
     <div class="row pb-2">
      <ul class="row mx-auto mkl1 text-center">
        <li class="p-2"><a href="https://www.facebook.com/search/top/?q=Energy%20Club%20-%20MNIT%20Jaipur"><img
              src="{% static 'img/facebook.png' %}" height="40px" width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://www.instagram.com/the_energy_club/"><img src="{% static 'img/instagram.png' %}" height="40px"
              width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://in.linkedin.com/company/energy-club-mnit-jaipur"><img src="{% static 'img/linkedin.png' %}"
              height="40px" width="40px" alt=""></a></li>
        <li class="p-2 "><a href="mailto:energyclub@mnit.ac.in"><img src="{% static 'img/gmail.png' %}" height="40px" width="40px"
              alt=""></a></li>
      </ul>
    </div>
 </div>
 <div class="col-lg-3 col-sm-5  my-2 mx-1 mx-auto card ">
 <img class="mx-auto my-3 img-fluid frame" src="{% static 'img/vivek.jpg' %}" height="200px" width="200px" alt="" >
 <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam, tempore, esse fugiat
                vo
                Recusandae, provident tempora? Quidem magni, facere porro quia ea facilis exercitationem accusamus.""</p>
    
     <div class="row pb-2">
      <ul class="row mx-auto mkl1 text-center">
        <li class="p-2"><a href="https://www.facebook.com/search/top/?q=Energy%20Club%20-%20MNIT%20Jaipur"><img
              src="{% static 'img/facebook.png' %}" height="40px" width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://www.instagram.com/the_energy_club/"><img src="{% static 'img/instagram.png' %}" height="40px"
              width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://in.linkedin.com/company/energy-club-mnit-jaipur"><img src="{% static 'img/linkedin.png' %}"
              height="40px" width="40px" alt=""></a></li>
        <li class="p-2 "><a href="mailto:energyclub@mnit.ac.in"><img src="{% static 'img/gmail.png' %}" height="40px" width="40px"
              alt=""></a></li>
      </ul>
    </div>
 </div>
 <div class="col-lg-3 col-sm-5  my-2 mx-1 mx-auto card ">
 <img class="mx-auto my-3 img-fluid frame" src="{% static 'img/vivek.jpg' %}" height="200px" width="200px" alt="" >
 <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam, tempore, esse fugiat
                vo
                Recusandae, provident tempora? Quidem magni, facere porro quia ea facilis exercitationem accusamus.""</p>
    
     <div class="row pb-2">
      <ul class="row mx-auto mkl1 text-center">
        <li class="p-2"><a href="https://www.facebook.com/search/top/?q=Energy%20Club%20-%20MNIT%20Jaipur"><img
              src="{% static 'img/facebook.png' %}" height="40px" width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://www.instagram.com/the_energy_club/"><img src="{% static 'img/instagram.png' %}" height="40px"
              width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://in.linkedin.com/company/energy-club-mnit-jaipur"><img src="{% static 'img/linkedin.png' %}"
              height="40px" width="40px" alt=""></a></li>
        <li class="p-2 "><a href="mailto:energyclub@mnit.ac.in"><img src="{% static 'img/gmail.png' %}" height="40px" width="40px"
              alt=""></a></li>
      </ul>
    </div>
 </div>
 <div class="col-lg-3 col-sm-5  my-2 mx-1 mx-auto card ">
 <img class="mx-auto my-3 img-fluid frame" src="{% static 'img/vivek.jpg' %}" height="200px" width="200px" alt="" >
 <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam, tempore, esse fugiat
                vo
                Recusandae, provident tempora? Quidem magni, facere porro quia ea facilis exercitationem accusamus.""</p>
    
     <div class="row pb-2">
      <ul class="row mx-auto mkl1 text-center">
        <li class="p-2"><a href="https://www.facebook.com/search/top/?q=Energy%20Club%20-%20MNIT%20Jaipur"><img
              src="{% static 'img/facebook.png' %}" height="40px" width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://www.instagram.com/the_energy_club/"><img src="{% static 'img/instagram.png' %}" height="40px"
              width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://in.linkedin.com/company/energy-club-mnit-jaipur"><img src="{% static 'img/linkedin.png' %}"
              height="40px" width="40px" alt=""></a></li>
        <li class="p-2 "><a href="mailto:energyclub@mnit.ac.in"><img src="{% static 'img/gmail.png' %}" height="40px" width="40px"
              alt=""></a></li>
      </ul>
    </div>
 </div>
 </div>
 </div>




    

  

    




  <footer class="bg mt-5" style="height:auto;">

    <div class="col-sm-7 mx-auto text-center pt-5 ">
      <h5 class="text-white">
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laboriosam, tempore, esse fugiat
        voluptatibus consequ
        Recusandae, provident tempora? Quidem magni, facere porro quia ea facilis exercitationem accusamus.""
      </h5>
    </div>
    <div class="container pt-4 mx-auto text-center text-white ">



      <!-- Button trigger modal -->
      <button type="button" id="colbt" class="btn" data-toggle="modal" data-target="#exampleModal">
        Suggest Something
      </button>

      <!-- Modal -->
      <div class="modal fade text-justify" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="" class="text-dark">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Your Name">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Your Email Id.">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputSuggest" class="col-sm-6 col-form-label">Any Suggestions</label>
                  <div class="col-sm-12">
                    <textarea class="form-control" id="inputSuggest"
                      placeholder="Write your suggestion here!"></textarea>
                  </div>
                </div>


                <div class="form-group row ">
                  <div class="col-sm-12 text-center">
                    <button type="submit" class=" btn btn-dark">Submit</button>
                  </div>
                </div>
              </form>


            </div>
            

          </div>
        </div>
      </div>

      <h3 class="pt-2 fs text-center">Connect With Us!</h3>
    </div>
    <div class="row pb-2">
      <ul class="row mx-auto mkl">
        <li class="p-2"><a href="https://www.facebook.com/search/top/?q=Energy%20Club%20-%20MNIT%20Jaipur"><img
              src="{% static 'img/facebook1.png' %}" height="40px" width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://www.instagram.com/the_energy_club/"><img src="{% static 'img/instagram1.png' %}" height="40px"
              width="40px" alt=""></a></li>
        <li class="p-2"><a href="https://in.linkedin.com/company/energy-club-mnit-jaipur"><img src="{% static 'img/linkedin1.png' %}"
              height="40px" width="40px" alt=""></a></li>
        <li class="p-2 pr-5"><a href="mailto:energyclub@mnit.ac.in"><img src="{% static 'img/gmail1.png' %}" height="40px" width="40px"
              alt=""></a></li>
      </ul>
    </div>

    </div>
  </footer>

  </div>
  </div>





  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="{% static '/bootstrap-4.5.0-dist/js/bootstrap.min.js' %} "
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
